.Page-Paginators {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.Page-VerseNum {
  display: inline-block;
  width: 30px;
  padding: 5px;
  border: 1px greenyellow dashed;
  border-radius: 5px;
  cursor: pointer;
}
