.Page {
  height: 100%;
  display: flex;
  flex-flow: column;
}

.Page-Paginators {
  padding: 5px;
  display: flex;
  justify-content: center;
}

.Page-VerseNum {
  display: inline-block;
  width: 30px;
  padding: 5px;
  border: 1px greenyellow dashed;
  border-radius: 5px;
  cursor: pointer;
}

.Page-Loader {
  display: flex;
  justify-content: center;
  height: 100%;
}

.Page-Loader > img {
  padding: 20px;
  margin: auto;
}

.Page-VerseExternalLinks {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap-reverse;
  font-size: 12px;
}

.Page-VerseExternalLinks > a {
  padding: 3px;
  border-radius: 5px;
  background-color: greenyellow;
  color: blue;
  margin: 5px;
}
