aiofiles==0.6.0
fastapi==0.63.0
flake8==3.9.1
gunicorn==20.1.0
mypy==1.1.1
pylint-flask==0.6
pylint-flask-sqlalchemy==0.2.0
pytest==6.2.3
requests==2.25.1
SQLAlchemy-Wrapper==1.9.1
uvicorn[standard]==0.13.4
