.AyahSelect {
  display: inline-block;
}

.AyahSelect-Options-hidden {
  display: none;
}

.AyahSelect-Options {
  display: flex;
  flex-flow: wrap;
  position: absolute;
  background-color: #31333d;
  z-index: 900;
  max-width: 300px;
  max-height: 300px;
  overflow-y: auto;
}

.AyahSelect-Option {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid white;
  cursor: pointer;
}

.AyahSelect-Option:hover {
  background-color: black;
  color: black;
}

.AyahSelect-Option-Num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 3px;
  background-color: #7f78a8;
  border-radius: 50%;
}
