.Filter {
  display: flex;
  justify-content: center;
}

.Filter-Label {
  padding: 5px;
}

.Filter-ClearButton {
  padding: 5px;
  color: red;
  font-weight: 800;
  cursor: pointer;

  &:hover {
    color: yellow;
  }
}
