.Occurrences {
  background-color: rebeccapurple;

  &-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    &-title {
      font-size: larger;
      font-weight: 700;
    }

    &-subtitle {
      display: block;
    }

    &-root {
      font-family: 'me_quran';
      margin: 0 5px;
      direction: rtl;
    }
  }

  &-loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-Item {
    border: 1px dashed gold;
  }

  &-VerseLabel {
    padding: 5px;
    border-radius: 3px;
    background-color: burlywood;
  }

  &-footer {
    display: flex;
    justify-content: center;
  }
}
