.Occurrences {
  margin-top: 20px;
  background-color: #2a2a2a;

  &-header {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    &-title {
      font-size: larger;
      font-weight: 700;
    }

    &-subtitle {
      display: block;
    }

    &-target {
      font-family: "me_quran";
      margin: 0 5px;
      direction: rtl;
      color: yellow;
    }
  }

  &-loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-Item {
    padding: 5px;
    display: flex;
    flex-flow: column;
    border: 1px dashed gold;

    &-verse {
      justify-content: flex-end;
    }
  }

  &-VerseLabel {
    width: max-content;
    align-self: flex-end;
    padding: 5px;
    border-radius: 5px;
    background-color: #caecf9;

    &:hover {
      cursor: pointer;
      background-color: white;
    }
  }

  &-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-goToTop {
    cursor: pointer;
    height: 30px;
    border-radius: 5px;
    outline: none;

    &:hover {
      background-color: yellow;
    }
  }

  &-stat {
    font-weight: 600;
    font-size: 18px;
    color: gray;
  }
}
