.Occurrences {
  margin-top: 20px;
  background-color: #2a2a2a;

  &-header {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    &-title {
      font-size: larger;
      font-weight: 700;
    }

    &-subtitle {
      display: block;
    }

    &-root {
      font-family: 'me_quran';
      margin: 0 5px;
      direction: rtl;
    }
  }

  &-loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-Item {
    padding: 5px;
    display: flex;
    flex-flow: column;
    border: 1px dashed gold;

    &-verse {
      display: flex;
      flex-flow: row;
      justify-content: flex-end;
    }
  }

  &-VerseLabel {
    align-self: center;
    margin-left: 5px;
    padding: 5px;
    border-radius: 3px;
    background-color: burlywood;

    &:hover {
      background-color: white;
    }
  }

  &-footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-goToTop {
    cursor: pointer;
    height: 30px;
    border-radius: 5px;
  }
}
