.Occurrences {
  background-color: rebeccapurple;
}

.Occurrences-Item {
  border: 1px dashed gold;
}

.Occurrences-VerseLabel {
  padding: 5px;
  border-radius: 3px;
  background-color: burlywood;
}

.Occurrences-VerseWord {
  padding: 2px;
}

.Occurrences-VerseWord-highlighted {
  background-color: aqua;
}

.Occurrences-Verse {
  font-family: 'me_quran';
}
