.Segment {
  display: flex;
}

.Segment-arabic {
  font-family: 'me_quran';
  font-size: 20px;
  direction: rtl;
  padding: 5px;
  align-self: center;
}

.Segment-pos {
  padding: 5px;
  align-self: center;
}
