.Word {
  padding: 0 4px;
  font-size: 30px;
  font-family: 'me_quran';
  border-radius: 5px;

  &-selected {
    background-color: #4665d8 !important;
  }

  &-highlighted {
    color: black;
    background-color: yellow;
  }

  &:hover {
    background-color: #00acc1;
  }
}
