.Word {
  padding: 0 4px;
  font-size: 30px;
  font-family: 'me_quran';

  &-selected {
    background-color: #4665d8 !important;
    border-radius: 5px;
  }

  &-highlighted {
    background-color: #4665d8 !important;
    border-radius: 5px;
  }

  &:hover {
    background-color: #00acc1;
    border-radius: 5px;
  }
}
