.WordParts {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-start;

  &-item {
    margin: 25px;
  }

  &-segments {
  }

  &-root {
    display: flex;
    flex-flow: column;

    &-header {
      align-self: center;
      font-size: larger;
      font-weight: 800;
      text-decoration: underline;
      text-underline-offset: 3px;
    }

    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
    }

    &-content {
      font-family: "me_quran";
      font-size: 25px;
      cursor: pointer;
      padding: 5px;
      background-color: lightgoldenrodyellow;
      color: black;
      border-radius: 5px;
      border: 1px solid black;
      box-shadow: 3px 3px 5px yellow;

      &-pressed {
        background-color: yellowgreen;
      }

      &:hover {
        background-color: yellow;
        box-shadow: 3px 3px 5px cyan;
      }
    }
  }

  &-VerbForms {
  }
}
